@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keep ElevenLabs widget functional but invisible */
/* Don't use display: none or it won't work */
.hero1{
    width: 100%;
  height: 95vh;                  /* full viewport height */  
  background-image: url('./assets/heroImg.JPG');   /* apni image ka path */  
  background-size: cover;         /* image ko container ke size pe fit karo */  
  background-position: center;    /* image center se align hogi */  
  background-repeat: no-repeat;   /* image repeat na ho */ 
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 18s linear infinite;
}
